[submodule "scripts"]
	path = scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "src/input/input_state"]
	path = src/input/input_state
	url = git@github.com:cpp-toolbox/input_state.git
[submodule "src/utility/temporal_binary_switch"]
	path = src/utility/temporal_binary_switch
	url = git@github.com:cpp-toolbox/temporal_binary_switch.git
[submodule "src/utility/fixed_frequency_loop"]
	path = src/utility/fixed_frequency_loop
	url = git@github.com:cpp-toolbox/fixed_frequency_loop.git
[submodule "src/utility/stopwatch"]
	path = src/utility/stopwatch
	url = git@github.com:cpp-toolbox/stopwatch.git
[submodule "src/utility/logger"]
	path = src/utility/logger
	url = git@github.com:cpp-toolbox/logger.git
[submodule "src/utility/math_utils"]
	path = src/utility/math_utils
	url = git@github.com:cpp-toolbox/math_utils.git
[submodule "src/utility/circular_vector"]
	path = src/utility/circular_vector
	url = git@github.com:cpp-toolbox/circular_vector.git
[submodule "src/utility/lazy_construction"]
	path = src/utility/lazy_construction
	url = git@github.com:cpp-toolbox/lazy_construction.git
[submodule "src/utility/timer"]
	path = src/utility/timer
	url = git@github.com:cpp-toolbox/timer.git
[submodule "src/utility/collection_utils"]
	path = src/utility/collection_utils
	url = git@github.com:cpp-toolbox/collection_utils.git
[submodule "src/utility/text_utils"]
	path = src/utility/text_utils
	url = git@github.com:cpp-toolbox/text_utils.git
